<%
var variables = variables;
//var pathlessFilename = filename.slice(filename.lastIndexOf("\\") + 1); //パスなし、単独のファイル名
id = filename.slice(filename.lastIndexOf("\\") + 1).replace(/\.ejs/g, ''); //PC内の絶対パスで最後の\の位置+1(=パスなしファイル名)から末尾までの文字列を切り取り、".ejs"の4文字を取り除く=拡張子なしのファイル名
var commonVar = commonVar;
var navbarHeight = commonVar["navbar-height"].replace(/\px/g, ''); //commonVarの中のナビゲーションバーの高さの値からpxを取り除き、数字だけにする(bodyタグのdata-offsetに使用)
%><%- include("util/_year", { variables, id }) %><%- include("util/_headset", { variables, id, path }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="<%= navbarHeight %>" class="<%= id %>Page" id="<%= id %>Page">

<%- include("index/_loading") %>

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("index/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>">
        <section class="container-fluid about" id="about">
            <div class="row">
                <article class="col-xs-12" v-for="aboutElm in about" v-bind:key="aboutElm.title.rendered">
                    <div class="about_header page-header">
                        <h2 v-text="aboutElm.title.rendered"></h2>
                    </div>
                    <div class="about_contents"v-html="aboutElm.content.rendered"></div>
                </article>
            </div>
        </section>
        <section class="container-fluid spellcard" id="spellcard">
            <div class="page-header">
                <h2>スペルカード<small>Spell Cards</small></h2>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4" v-for="post in posts" v-bind:key="post.title.rendered">
                    <div class="panel panel-danger">
                    	<div class="panel-heading">
                    		<h3 v-text="post.title.rendered"></h3>
                    	</div>
                    	<div class="panel-body" v-html="post.content.rendered"></div>
                    	<div class="panel-footer" v-text="post.date"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid noContinue" id="noContinue">
            <div class="row">
                <article class="col-xs-12" v-for="noContinueElm in noContinue" v-bind:key="noContinueElm.title.rendered">
                    <div class="about_header page-header">
                        <h2 v-text="noContinueElm.title.rendered"></h2>
                    </div>
                    <div class="about_contents"v-html="noContinueElm.content.rendered"></div>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<p class="returnPageTop"><img src="./img/rpt_lvateinn.png" alt="ページトップへ戻る"></p>

<script src="./js/lib.min.js"></script>
<script src="./js/progress.min.js"></script>
<script src="./js/<%= variables.param[id].js %>.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="./js/vueapp.js"></script>
</body>
</html>